
body{
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    height: 180px;
    text-align: center;
}

#banner {
    background-image: url("http://www.loganberrybooks.com/img/about/mural%20final%20layout.jpg");
    background-size: auto 102px;
    height: 102px;
}

button{
    height: 30px;
    width: 100px;
}

.listbox{
    margin: 10px;
}

select, option {
    width: 250px;
}

.add_and_filter_buttons{

}

.change_and_remove_buttons{

}

.input_fields_section{
    width: 250px;
    margin: 10px auto;
    text-align: left;
    line-height: 2;
}

.input_fields_section label{
    width: 65px;
    margin: auto 5px;
    display: inline-block;
    text-align: right;
}

input{
    width: 160px;
}

.confirm_section{
    display: inline-flex;
    text-align: left;
    margin: 10px auto;
    border: 0px;
    width: 230px;
}

.confirm_section p {
    vertical-align: text-top;
    width: 100px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.invisible{
    display: none;
}

.success_text{
    color: green;
}

.failure_text{
    color: red;
}