header{
    background-image: url("http://www.loganberrybooks.com/img/about/mural%20final%20layout.jpg");
    background-size: auto 100px;
    height: 102px;
    text-align: center;
}

body{
    text-align: center;
}

.new_list_button{

}

.listbox{
    margin: 20px;
}

select, option {
    width: 250px;
}

.add_and_filter_buttons{

}

.change_and_remove_buttons{

}

.author_and_title_input_fields{

}

.message_output{
    
}

.invisible{
    display: none;
}
