
body{
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
    border: 0px;
    font-size: 18px;
}

header{
    height: 180px;
}

#banner {
    background-image: url("http://www.loganberrybooks.com/img/about/mural%20final%20layout.jpg");
    background-size: auto 102px;
    height: 102px;
}

section{
    margin: 0px;
}

button{
    height: 40px;
    width: 120px;
    margin: 5px 10px;
    font-size: 18px;
}

.listbox{
    margin: 10px;
}

select, option {
    width: 400px;
    font-size: 18px;
}

.status_div{
    margin: auto;
    width: 380px;
    text-align: left;
}

.status_div p{
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.input_fields_section{
    width: 280px;
    margin: 10px auto;
    padding: 0px 10px;
    text-align: left;
    line-height: 2;
}

.input_fields_section label{
    width: 65px;
    margin: auto;
    display: inline-block;
    text-align: right;
}

input{
    width: 200px;
    margin-left: 5px;
    font-size: 18px;
}

.confirm_section{
    width: 280px;
    margin: auto auto;
}

.invisible{
    display: none;
}

.success_text{
    color: green;
}

.failure_text{
    color: red;
}

footer{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    font-style: italic;
    line-height: 0;
    background-color: white;
}